<?xml version="1.0"?>
<configuration>
    <location path="Adminuser">
        <system.web>
            <authorization>
                <allow roles="Adminuser"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <system.web>
       

    </system.web>
</configuration>
